*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
  
}

:root {
  
  --text-xs: 0.75rem;
  --text-xs-line-height: calc(1 / 0.75);

  --text-sm: 0.875rem;
  --text-sm-line-height: calc(1.25 / 0.875);

  --text-base: 1rem;
  --text-base-line-height: calc(1.5 / 1);

  --text-lg: 1.125rem;
  --text-lg-line-height: calc(1.75 / 1.125);

  --text-xl: 1.25rem;
  --text-xl-line-height: calc(1.75 / 1.25);

  --text-2xl: 1.5rem;
  --text-2xl-line-height: calc(2 / 1.5);

  --text-3xl: 1.875rem;
  --text-3xl-line-height: calc(2.25 / 1.875);

  --text-4xl: 2.25rem;
  --text-4xl-line-height: 56px;

  --text-5xl: 3rem;
  --text-5xl-line-height: 60px;

  --text-6xl: 3.75rem;
  --text-6xl-line-height: 75px;

  --gray-25:#FDFEFE;
 --gray-50:#F9FAFB;
 --gray-100:#F8FAFC;
 --gray-150:#F3F4F6;
 --gray-200:#E5E7EB;
 --gray-300:#D1D5DC;
 --gray-400:#99A1AF;
 --gray-500:#6A7282;
 --gray-600:#697181;
 --gray-700:#364153
;


  --gradient-violet: linear-gradient(315deg,rgba(79, 57, 246, 1) 0%, rgba(127, 34, 254, 1) 72%);
  --gradient-blue:linear-gradient(214deg,#155dfc 0%, rgba(43, 127, 255, 1) 72%);
  --gradient-orange:linear-gradient(276deg,rgba(255, 105, 0, 1) 0%, rgba(255, 185, 0, 1) 100%);
  --gradient-red:linear-gradient(346deg,rgba(231, 0, 11, 1) 0%, rgba(255, 32, 86, 1) 100%);

  --violet-400:#7f22fe;
  --yellow-100:#FFF9EC;
  --red-100:#FFF2F2;
  --red-200:#ff2056;
  --light-red:#FFF1F2;
--yellow:#FFE700;
--light-yellow:#FFFBEB;
--light-blue:#DBEAFE;
--blue:#155DFC;
--green:#009966;
--light-green:#D0FAE5; 
--light-green-2:#ECFDF5; 
--light-violet:#EDE9FE;
--light-violet-2:#F5F3FF;
--ligh-violet-3:#F3E8FF;
--light-brown:#FEF3C6;
--brown:#b55200;

}

@font-face {
  font-family: 'inter';
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gray-100);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-green{
  color: var(--green);
}

.text-blue{
  color: var(--blue);
}
.text-yellow{
  color: var(--yellow);
}
.text-red-200{
  color: var(--red-200);
}
.text-violet-400{
  color: var(--violet-400);
}
.text-gray-300{
  color: var(--gray-300);
}
.text-gray-400{
  color: var(--gray-400);
}
.text-gray-500{
  color: var(--gray-500);
}
.text-gray-600{
  color: var(--gray-600);
}
.text-gray-700{
  color: var(--gray-700);
}
.bg-light-violet-3{
  background-color: var(--ligh-violet-3);
}
.bg-light-brown{
  background-color: var(--light-brown);
}



.text-brown{
  color: var(--brown);
}
.bg-gray-25{
  background-color: var(--gray-25);
}
.bg-gray-50{
  background-color: var(--gray-50);
}
.bg-gray-150{
  background-color: var(--gray-150);
}
.bg-yellow-100{
  background-color: var(--yellow-100);
}
.bg-red-100{
  background-color: var(--red-100);
}
.bg-light-blue{
  background-color: var(--light-blue);
}
.bg-light-yellow{
  background-color: var(--light-yellow);
}
.bg-light-red{
  background-color: var(--light-red);
}
.bg-light-green{
  background-color: var(--light-green);
}
.bg-light-violet{
  background-color: var(--light-violet);
}
.bg-light-green-2{
  background-color: var(--light-green-2);
}
.bg-light-violet-2{
  background-color: var(--light-violet-2);
}

.bg-gradient-violet{
  background-image: var(--gradient-violet);
}
.bg-gradient-blue{
  background-image: var(--gradient-blue);
}
.bg-gradient-orange{
  background-image: var(--gradient-orange);
}
.bg-gradient-red{
  background-image: var(--gradient-red);
}

.bg-yellow{
  background-color: var(--yellow);
}
.bg-red-200{
  background-color: var(--red-200);
}


.text-xxs {
  font-size:11px;
  line-height:17px;
}
.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs-line-height);
}
.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm-line-height);
}
.text-base {
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
}
.text-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg-line-height);
}
.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl-line-height);
}
.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl-line-height);
}
.text-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl-line-height);
}
.text-4xl {
  font-size: var(--text-4xl);
  line-height: var(--text-4xk-line-height);
}
.text-5xl {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl-line-height);
}
.text-6xl {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl-line-height);
}

.p-2-8 {
  padding: 2px 8px;
}

.p-12-16 {
  padding: 12px 16px;
}

.p-12 {
  padding: 12px;
}
.p-16 {
  padding: 16px;
}
.p-24 {
  padding: 24px;
}
.py-80 {
  padding-block: 80px;
}
.py-30 {
  padding-block: 2.5rem;
}
.px-32 {
  padding-inline: 2rem;
}

.p-28 {
  padding: 28px;
}
.p-32 {
  padding: 32px;
}

.pt-140 {
  padding-top: 140px;
  padding-bottom: 80px;
}
.pb-50 {
  padding-top: 80px;
}

.p-top-16 {
  padding-top: 16px;
}

.m-block-16-24 {
  margin-block: 12px 24px;
}

.m-top-16 {
  margin-top: 16px;
}

.m-auto {
  margin: auto;
}
.m-bottom-4 {
  margin-bottom: 0.25rem;
}
.m-bottom-8 {
  margin-bottom: 0.5rem;
}
.m-bottom-12 {
  margin-bottom: 0.75rem;
}

.m-bottom-24 {
  margin-bottom: 1.5rem;
}

.m-bottom-16 {
  margin-bottom: 1rem;
}
.m-bottom-32 {
  margin-bottom: 2rem;
}

.m-right-265 {
  padding-right: 230px;
}

.ratio-1 {
  aspect-ratio: 1;
}

.w-50px{
  width: 50px;
  height: 50px;
}
.h-50px{
  height: 50px;
}
.w-40px{
  width: 40px;
}
.h-40px{
  height: 40px;
}
.w-25px{
  width: 25px;
}
.h-25px{
  height: 25px;
}
.w-20px{
  width: 20px;
}
.h-20px{
  height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}
.scroll-smooth{
  scroll-behavior: smooth;
}

.object-center {
  object-position: center;
}

.border-top {

  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}
.border-bottom {
  --bs-border-color: #e5e7eb80;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-radius-10{
  border-radius: 10px;
}
.border {
  --bs-border-color: #f6f3f4;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}


/* nav************************************* */
.nav-btn{
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 10px;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 20px;
  --bs-btn-color: fff;
  --bs-btn-bg: var(--gradient-violet);
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 12px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: 0px 4px 10px 0px rgba(141,84,255,0.75);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0px 4px 10px 0px rgba(141,84,255,0.75);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition:all 0.2s;
}
.nav-btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  box-shadow: var(--bs-btn-box-shadow);
  transform: translateY(-3px);
}
/* nav************************************* */
/* header************************************* */

/* *************************form modal***************** */

.form-control.modaal {
  background-color: #F9FAFB;
  padding: 12px 16px;
 border: 1px solid #ebe6e7;
  border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: var(--text-sm);
  color : var(--gray-700);
  font-weight: 500;
  
}
.form-control.modaal::placeholder{
  --bs-secondary-color: var(--gray-700);
  color: var(--bs-secondary-color);
  font-size: var(--text-sm);
  opacity: 0.7;
}
.form-control.modaal:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--violet-400);
    outline: 0;
    box-shadow: 0px 0px 0px 2px #7e22fe38

 ;
}
.form-select {
  --bs-form-select-bg-img: none;
 
  padding: 12px 16px;
  font-size: var(--text-sm);
 
   background-color: #F9FAFB;
 
 border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.form-select:focus {
  color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--violet-400);
    outline: 0;
    box-shadow: 0px 0px 0px 2px #7e22fe38;
}
textarea{
  resize: none;
}
.form-check-input {
  --bs-form-check-bg: white;
  width: 20px;
  height: 20px;
 
  background-color: var(--bs-form-check-bg);

  border: var(--bs-border-width) solid rgba(0, 0, 0, 0.574);
border-radius:2px;
cursor: pointer;
}
.form-check-input:focus {
  border-color:#770811;
  outline: 0;
  box-shadow:none;
}
.form-check-input:checked {
  background-color:#770811;
  border-color: transparent;
}
.form-check-input:checked:hover {
  background-color:#420409;
  border-color: transparent;
}
.form-check-input:hover {
border:1px solid  black;
}
.btn-modal-save{
  --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 12px;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 20px;
  --bs-btn-color: fff;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 12px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: 0px 2px 10px 0px rgba(141,84,255,0.75);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0px 4px 10px 0px rgba(141,84,255,0.75);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  transition:all 0.2s;
}
.btn-modal-save:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  box-shadow: var(--bs-btn-box-shadow);
}

.btn-modal-close{
  background-color:#F3F4F6 ;
  transition:all 0.2s ;
   --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 12px;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 20px;
  --bs-btn-color: fff;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 12px;
 padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);

}
.btn-modal-close:hover{
  background-color: #E5E7EB;
}
/* *************************form modal***************** */

.box-shadow-card{
  box-shadow: 0px 1px 4px #0000001a;

}

/**************************search******************/
.search div{
top:50% ;
transform: translateY(-50%);
left: 15px ;
}
.search-input{
  padding: 14px 16px 14px 40px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control.search-input::placeholder{
  --bs-secondary-color: var(--gray-600)
  color: var(--bs-secondary-color);
  font-size: var(--text-sm);
  opacity: 0.5;
}
.form-control.search-input:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:var(--violet-400);
    outline: 0;
    box-shadow: 0px 0px 0px 2px #7e22fe38

 ;
}
/* *************************search***************** */
.card-added{
  border: 1px solid #ececec;
transition: all 0.2s;
}
.card-added:hover{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1) ;
}

.small-star{
  top: 0;
  right: -8px;
  border: 3px solid white;
}
.small-heart{
  bottom: 0;
  right: -8px;
  border: 3px solid white;
}

